.recipe_field{
  text-align:center;
}
.recipe_content-field{
  margin-top:30px;
}
.recipe_title-field{
  margin-top:30px;
}

.recipe_text-field{
  width:300px;
  height:40px;
}

.recipe_text-area{
  width:300px;
  height:150px;
}

.recipe_image-field{
  margin-top:30px;
}

.recipe_submit-btn{
  margin-top:30px;
  margin-bottom:50px;
  border-radius: 50%;
  height:50px;
  width:100px;
}