%h1.user_profile-name
  ="#{@user.nickname}さんのプロフィール"

.profile
  .profile_section-image
    =attachment_image_tag @user, :profile_image,class:"user_profile-images" 
  .profile_section
    ・紹介文
    .profile_section-content
      =@user.profile

- if current_user.id == @user.id
  .user_edit
    =link_to"アカウント編集",edit_user_path,class:"user_edit-link"  
  .user_destroy
    =link_to"削除",user_path,method: :delete
- else